.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0em;
}

.a-color{
    color: rgb(33, 133, 93);
}

.h1-color{
    color:rgba(13, 104, 45, 0.966);
}

.a-color-header{
    color: white;
}

.header-background{
    background-color: rgb(190, 116, 41);
}

.body-background{
    background-color: white;
}

.footer-background{
    background-color: rgb(133, 197, 152);
}

.flex-container{
    display: flex;
    flex-flow: wrap;
}



body{
    margin: 0px;
    padding: 0px;
}

main{
    padding: 16px;
}

footer{
    padding: 30px 0px 24px 10px;
}

img{
    height: 200px;
}

nav{
    border-bottom:solid black 1px;
    padding: 16px;
}

tr:nth-child(even){
    background-color: rgb(230, 232, 234);
}

/* li{
    list-style-type: none;
} */
